.admin-page {
    padding: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.thumb {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
}

.actions {
    display: flex;
    gap: 0.5rem;
}

.btn-primary {
    background: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    text-decoration: none;
}

.btn-edit {
    color: blue;
    text-decoration: none;
    margin-right: 10px;
}

.btn-delete {
    color: red;
    border: none;
    background: none;
}

table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        padding: 1rem;
        border-bottom: 1px solid #eee;
        text-align: left;
    }
}